*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
a{
    color: inherit
}
img{
    max-width: 100%;
}
button{
    cursor: pointer;
    transition: 300ms
}